.artContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 450px;
  height: 375px;
  background-color: rgb(254, 132, 10);
  margin-left: 20px;
}

.title {
  padding-top: 160px;
  height: 20px;
  font-size: 16px;
}

.imgContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
  padding: 20px;
}

.image {
  color: rgb(118, 191, 255);
  text-align: center;
  line-height: 125px;
  width: 125px;
  height: 125px;
  background-color: rgb(246, 252, 80);
}